# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
npm-debug.log*
yarn-error.log
# /yarn.lock
package-lock.json

/server/localStorage

# production
/client/dist
/server/dist
/server/logs
/server/config.ts

# misc
.DS_Store
.idea/
.vscode/
/cert
