.code-mirror-wrapper .CodeMirror.cm-s-lucario {
  background: transparent !important;
}
.code-mirror-wrapper .CodeMirror {
  color: white;
}
.code-mirror-wrapper .CodeMirror .CodeMirror-placeholder {
  color: white;
  opacity: 0.58;
}
.code-mirror-wrapper .CodeMirror .CodeMirror-cursor {
  border-color: white;
}
